.page{
    background:gray;
    height:70vh;
    display:flex;
    justify-content:center;
    gap:1rem;
    align-items:center;
}
button{
    background: #000;
    color:white; padding: 4px 10px;
    cursor:pointer;
    border-radius: 12px;
}
button:hover{
    outline:2px solid white;
    
}
